package ${package}.${moduleName}.dao;

import java.util.List;

import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Delete;
import org.apache.ibatis.annotations.InsertProvider;
import org.apache.ibatis.annotations.Select;
import org.apache.ibatis.annotations.SelectProvider;
import org.apache.ibatis.annotations.UpdateProvider;

import ${package}.${moduleName}.dao.provider.${className}SqlProvider;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.model.${className}Model;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao{
	/**
	 * 根据id查询
	 * @param id
	 * @return
	 * @author weiyb
	 */
	@Select({ "select * from ${tableName} where ${pk.columnName} = #{id,jdbcType=BIGINT}" })
	${className}Entity queryObject(Long id);

	/**
	 * 查询列表
	 * @param tm
	 * @return
	 * @author weiyb
	 */
	@SelectProvider(type = ${className}SqlProvider.class, method = "queryList")
	List<${className}Entity> queryList(${className}Model tm);

	/**
	 * 查询总数
	 * @return
	 * @author weiyb
	 */
	@Select({ "select count(*) from ${tableName} " })
	int queryTotal();

	/**
	 * 保存
	 * @param t
	 * @author weiyb
	 */
	@InsertProvider(type = ${className}SqlProvider.class, method = "save")
	void save(${className}Entity t);

	/**
	 * 根据id更新
	 * @param t
	 * @return
	 * @author weiyb
	 */
	@UpdateProvider(type = ${className}SqlProvider.class, method = "update")
	int update(${className}Entity t);

	/**
	 * 根据ids删除
	 * @param ids
	 * @return
	 * @author weiyb
	 */
	@Delete({ "delete from ${tableName} where ${pk.columnName} in (${ids})" })
	int delete(@Param("ids") String id);
}
